# CraftOS-PC emulation
.craftos/
.craftos-test/
.craftos-verify/

# mise override
mise.local.toml

# editor nonsense
# add anything I missed, please
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
